{% extends 'base.html' %}
{% block title %}All of the Categories{% endblock %}

{% block body %}

<head>
    <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css"/>
    <form>
       <input type="button" value="Back" onclick="history.back()">
    </form><br>
   </head>
<body>

 <h1>All flashcards in {{ category_name }}</h1> 
    
  <table>
    {% for flashcard in flashcards %}
      <tr>
        <div class="flip-card">    
          <a href="/{{ category_name }}/{{ flashcard.flashcard_id }}">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <h1 alt="Avatar" style="width:300px;height:300px;">{{ flashcard.front_card }}</h1>
                </div>
                <div class="flip-card-back">
                  <h3>{{ flashcard.back_card }}</h3>
              </div>
            </div>
          </a>
        </div>
    </tr>
    {% endfor %}  
    </table>
    <script src="../static/my-categories.js"></script>
</body>
{% endblock %}