{% extends 'base.html' %}
{% block title %}All of the Categories{% endblock %}

{% block body %}

    <h1>The result of your search.</h1> 

        <table>
            <tr>
                <th> Flashcard front_card </th>
                <th> Flashcard back_card </th>
            </tr>
{% for i in range(count) %}
            <tr>
                <td>  {{ result[i] }} </td>
                <td> <form>
    <input type="radio" name="">
    <label for=""></label>
</form> </td>
            <td> <textarea name="" id="" cols="30" rows="10"></textarea> </td>
            </tr>
{% endfor %}
        </table>

{% endblock %}