{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}
<head>
  <link href="../static/css/button.css" rel="stylesheet" type="text/css"/>

  <style>
  div.description {
    max-width: 700px;
    margin: left;
  }
  
  div.navbar {
    list-style-type: none;
    padding: 0;
    margin: 5;
    position: absolute;
    top: 0em;
    left: 0em;
    width: 15em }
    h1 {
      font-family: 'Oswald';
    }
    

  </style>
  <br><br><br>
  <h1>Create Flashcards!</h1>
</head>
<body>
  
  
  <div class="description">
  <br><br>
  <h3>
    <p style="text-align:left"> Welcome to your interactive studying tool. This site has been
    created with students in mind to help reach studying goals. Create 
    an account to get started making your personalized flashcards. </h3>
    </p>
  </div>


  {# NAV BAR #}
  <div class="navbar">
    <img src="../static/homepage.jpg" alt="study spread">
  </div>

  

  
  <div class="login">
  <br><br>
  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
      <input type="submit" class="button" role="button">
    </p>
  </form>

Already have an account?<a href="/login">Login</a> 
  </div>
</body>
{% endblock %}