{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}
  <h1>Welcome to Flashcards!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/categories">View all the categories.</a></li>
    <li><a href="/search">Search for flashcards by keywords.</a></li>
    <li><a href="/user-profile">View your profile.</a></li>
  </ul>

  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Phone <input type="text" name="phone">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Login</h2>
  <form action="/login" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

{% endblock %}