{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}
<head>
  <style>
  div.description {
    max-width: 700px;
    margin: left;
  }
  </style>
  <br>
  <h1>Create Flashcards!</h1>
</head>
<body>
  <br><br><br><br>
  <div class="description">
  <h3>
    <p style="text-align:left"> Welcome to your interactive studying tool. This site has been
    created with students in mind to help reach studying goals. Create 
    an account to get started making your personalized flashcards. </h3>
    </p>
  </div>


  {# NAV BAR #}
  <div class="navbar">
    {# <background-img src="../static/homepage.jpg" alt="study spread"> #}
 
    </div>


  <div>
  <br><br>
  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

Already have an account? <a href="/login">Login</a> 
  </div>
</body>
{% endblock %}