{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}
<head>
  <link href="../static/css/button.css" rel="stylesheet" type="text/css"/>
</head>
<br><br><br><br><br><br><br><br>
<h2>Login</h2>
  <form action="/login" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit" class="button" role="button">
    </p>
  </form>

  {% endblock %}