{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}
<head>
    <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css"/>
    <form action="/user-profile">
      <button class="button">Return to Profile</button>
  </form> <br>
  </head>
<body>
    <br>
    <label for="category_label">View all Flashcards in this category:</label>
    <section>
    <form action="/categories">
        <select name="flashcards-to-show" id="category-show">
            <li>{% for category in categories %}  
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            </li>{% endfor %}
            <input type="submit" value="Go"></input> 
        </select>
    </form>
    </section>
<br>
<br>
<label for="category_label">Select a category to delete:</label>
    <section>
    <form action="/delete-category", method="POST">
        <select name="category-to-delete" id="category-delete">
            <li>{% for category in categories %}  
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            </li>{% endfor %}
            <input type="submit" value="Delete"></input> 
        </select>
    </form>
    </section>

    <script src="../static/my-categories.js"></script>
</body>    

{% endblock %}