{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}
<head>
    <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/button.css" rel="stylesheet" type="text/css"/>

    <form>
        <input type="button" value="Back" class="button" role="button" onclick="history.back()">
      
        <input type="button" value="Return to Profile" class="button"  onClick="location.href = '/user-profile';">
      </form>
      
  </head>
<body>
    <br>
    <label for="category_label">View all Flashcards in this category:</label>
    <section>
    <form action="/category-details" method="POST">
        <select name="flashcards-to-show" id="category-show">
            <li>{% for category in categories %}  
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            </li>{% endfor %}
            <input type="submit" class="button" role="button" value="Go"></input> 
        </select>
    </form>
    </section>
<br>
<br>
<label for="category_label">Select a category to delete:</label>
    <section>
    <form action="/delete-category", method="POST">
        <select name="category-to-delete" id="category-delete">
            <li>{% for category in categories %}  
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            </li>{% endfor %}
            <input type="submit" value="Delete" class="button" role="button"></input> 
        </select>
    </form>
    </section>

    <script src="../static/my-categories.js"></script>
</body>    

{% endblock %}