{% extends 'base.html' %}
{% block title %}All of the Categories{% endblock %}

{% block body %}
<head>
 <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css"/>
 <link href="../static/css/button.css" rel="stylesheet" type="text/css"/>
 <form>
    <input type="button" class="button" role="button" value="Back" onclick="history.back()">
 </form><br>
</head>

<body>
 <h1>My Flashcards:</h1> <br>


  <table>
    {% for flashcard in flashcards %}
    <tr>
      <div class="flip-card">
          <a href="/my-flashcards/{{ flashcard.flashcard_id }}">
          <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 alt="Avatar" style="width:300px;height:300px;">{{ flashcard.front_card }}</h1>
              </div>
              <div class="flip-card-back">
                <h3>{{ flashcard.back_card }}</h3>
            </div>
          </div>
        </a>
      </div>
    </a>
    <br>
    </tr>
    {% endfor %} 
    </table>
    
    <script src="../static/view-flashcard.js" type="text/javascript"></script>

 </body>
   

{% endblock %}