{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}
<head>
    <link href="../static/css/button.css" rel="stylesheet" type="text/css"/>
</head>
<form>
    <input type="button" class="button" role="button" value="Back" onclick="history.back()">
</form>
<br><br><br><br>
<h2>Now enter your flashcard details:</h2>

<style>
#front_card
{
    min-height:100px;
    font-size:14pt;
}
#back_card
{
    min-height:200px;
    font-size:14pt;
}
</style>
<form action="/create-flashcard" method='POST'>
    <label for="category_name">Category:</label>
    <input type="text" id="category" name="category_name" value="{{ category_choice }}" readonly><br><br>
    <label for="front_card">Front of Card:</label>
    <input type="text" id="front_card" name="front_card"><br><br>
    <label for="back_card">Back of Card:</label>
    <input type="text" id="back_card" name="back_card"><br><br>
    <input type="submit" value="Submit" class="button" role="button">
</form>

{% endblock %}