{% extends 'base.html' %}

{% block title %}Flashcards!{% endblock %}

{% block body %}

<br>
<br>
<br>
<head>
  <style>
    a:link, a:visited {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      padding: 5px 5px;
      text-align: left;
      text-decoration: none;
      display: inline-block;
    }

    .user_link li {
     transition: transform .2s;
     margin: 0 auto;
    }

    .user_link li:hover {
     -ms-transform: scale(1.1); /* IE 9 */
     -webkit-transform: scale(1.1); /* Safari 3-8 */
     transform: scale(1.1); 
    }
    </style>
  </head>
  <body>
  <h1>My Profile</h1>
  <h3>Here you can create, view, and make other changes to your flashcards.</h3>

<div class="navbar_user">
    <div class="user_link">
    <li><a href="/select-category">New Flashcard</a></li>
    <li><a href="/my-flashcards">My Flashcards</a></li> 
    <li><a href="/my-categories">My Categories</a></li>
    <li><a href="/search">Search Flashcards</a></li> <br>
    <li><a href="/logout">Log Out</a></ul>
    </div>
</div>
  


  

  </body>
{% endblock %}
