{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}
<h1>This is your profile. Here you can view your own flashcards and make any user profile changes.</h1>

<h2>Navigation</h2>
  <ul>
   <li><a href="/new-flashcard">Make a new flashcard.</a></li>
    <li><a href="/my-flashcards">View my flashcards.</a></li>
    <li><a href="/categories">View all the categories of flashcards.</a></li>
    <li><a href="/search-for-flashcards">Search for any flashcards by keywords.</a></li>
    <li> <a href="/update-user-profile">Update phone or email</a></li>
  </ul>
{% endblock %}