{% extends 'base.html' %}
{% block title %}Flashcards!{% endblock %}

{% block body %}

 <head>
  <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css"/>
  <div class=“btn-container”>
    <form>
      <input type="button" value="Back" onclick="history.back()">
    </form><br>
    <form action="/user-profile">
      <button class="button">My Profile</button> 
    </form>  
    </div>
  
</head>

 
 <body>
  <br>
  <section>
    <div>Your flashcard:</div>
   
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h1 alt="Avatar" style="width:300px;height:300px;">{{ flashcard.front_card }}</h1>
          </div>
          <div class="flip-card-back">
            <h3>{{ flashcard.back_card }}</h3>
          </div>
        </div>
      </div>
      <br>
    <div>   
    </section>
    <button name= "{{ flashcard.flashcard_id }}" onclick="deleteFlashcard(name)">Delete Flashcard</button> <br><br>
    </div>

    <script src="../static/view-flashcard.js" type="text/javascript"></script>
 </body>
</html>

{% endblock %}